<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Search Client</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.min.js" type="text/javascript"></script>
    <script src="../js/app.js" type="text/javascript"></script>
    <script src="../js/services.js" type="text/javascript"></script>
    <script src="../js/constants.js" type="text/javascript"></script>
    <script src="../js/controllers.js" type="text/javascript"></script>
</head>

<body ng-app="smartSearchApp" ng-controller="SocialCtrl">
<div>
    <form class="form-horizontal" id="smart-search-form">
        <fieldset>

            <legend>Detailed response for vk social network</legend>

            <div class="form-group">
                <label class="col-md-4 control-label" for="detailedResult">Vk Result</label>
                <div class="col-md-4">
                    <textarea ng-model="detailedResult" class="form-control" id="detailedResult" name="detailedResult" cols="50" rows="10"></textarea>
                </div>
            </div>

        </fieldset>
    </form>
</div>
</body>
</html>