<div>
    <form class="form-horizontal" id="smart-search-form" ng-submit="submit()">
        <fieldset>

            <legend>Smart Search</legend>

            <div class="form-group">
                <label class="col-md-4 control-label" for="Platform">Select platform</label>
                <div class="col-md-4">
                    <select id="Platform" name="Platform" class="form-control" ng-model="platform"
                            ng-options="item as item.name for item in platforms track by item.id">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="Platform">Select platform</label>
                <div class="col-md-4">
                    <a class="icon-size vk" href="#"></a>
                    <a class="icon-size fb" href="#"></a>
                    <a class="icon-size instagram" href="#"></a>
                    <a class="icon-size github" href="#"></a>
                    <a class="icon-size twitter" href="#"></a>
                    <a class="icon-size google" href="#"></a>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="Search-param">Search by</label>
                <div class="col-md-4">
                    <select id="Search-param" name="Search param" class="form-control" ng-model="searchParam">
                        <option value="getUserInfo">Id</option>
                        <option value="searchByName">Name</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="search-value">Search by id/name</label>
                <div class="col-md-4">
                    <input id="search-value" ng-model="searchValue" name="search-value" type="text" placeholder="What to search?" class="form-control input-md" required="">
                </div>
            </div>
            <div ng-show="platform == 'twitter'" id="search-by-nickname" class="form-group">
                <label class="col-md-4 control-label" for="search-value-nickname">Search by nickname</label>
                <div class="col-md-4">
                    <input id="search-value-nickname" ng-model="searchValueNickname" name="search-value-nickname" type="text" placeholder="What to search?"
                           class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="searchBtn"></label>
                <div class="col-md-4">
                    <button id="searchBtn" name="searchBtn" class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <contacts-list id="contacts"/>
                </div>
            </div>

        </fieldset>
    </form>
</div>