<!-- contacts list directive -->
<div ng-repeat="contact in vm.displayedContacts" ng-click="showDetails(contact)">
    <div class="resultset">
        <div class="contact-list-profile-img-wrap">
            <img class="contact-list-profile-img" src="{{::contact.photo}}"/>
            <img class="resultset-social-img " ng-show="platform.id == 'vk'" src="../../img/vk.png"/>
            <img class="resultset-social-img " ng-show="platform.id == 'fb'" src="../../img/fb.png"/>
            <img class="resultset-social-img " ng-show="platform.id == 'googlePlus'" src="../../img/google.png"/>
        </div>
        <div class="resultset-description">
            {{::contact.firstName}}
            {{::contact.lastName}}
        </div>
    </div>
</div>
<!-- pager -->
<ul ng-if="vm.pager.pages.length" class="pagination" ng-show="contacts">
    <li ng-class="{disabled:vm.pager.currentPage === 1}">
        <a ng-click="vm.setPage(1)">First</a>
    </li>
    <li ng-class="{disabled:vm.pager.currentPage === 1}">
        <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
    </li>
    <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
        <a ng-click="vm.setPage(page)">{{page}}</a>
    </li>
    <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
        <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
    </li>
    <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
        <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
    </li>
</ul>